<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppId" value="10011668" />
    <add key="SecretId" value="AKIDav2vXtuqPwFguq7BTeW9XgcXHk3GwYcd" />
    <add key="SecretKey" value="5xd8nIetPrwrcGj4EEPQDpTwHSSr1wb9" />
    <add key="BucketName" value="pic2prod" />
  </appSettings>
</configuration>